---
import "../styles/pages/index.css";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import heroImage from "../assets/images/hero.png";
import sparkleIcon from "../assets/icons/sparkle.svg";

import { getCollection } from "astro:content";
import { convertToSlug } from "../utils/treatments";

const treatmeants = await getCollection("treatments");
const featuredTreatments = treatmeants.filter(
	(treatment) => treatment.data.featured === true,
);
---

<BaseLayout>
	<section id="hero" class="bg-contrast">
		<div class="container grid grid-cols-2">
			<div
				class="hero-image"
				style=`background-image: url(${heroImage.src}); background-size:cover; background-repeat: no-repeat; background-position:center;`
			>
			</div>

			<div class="flex flex-col">
				<div class="title-subtitle">
					<h1 class="fs-700">
						Ajudamos a Recuperar a Confiança no seu Sorriso
					</h1>
					<p class="fs-500">
						A experiência de um plano de tratamento personalizado
						com valores acessíveis.
					</p>
				</div>
				<a href="" class="btn btn-light">Fale Conosco</a>
			</div>
		</div>
	</section>

	<section id="clinic" class="bg-primary">
		<div class="container grid grid-cols-2">
			<div class="flex flex-col">
				<div class="title-subtitle">
					<div>
						<span class="font-accent">Sobre</span>
						<h2 class="font-bold fs-600">Clínica Odonto Prime</h2>
					</div>
					<p>
						Localizada na cidade de Porto Alegre a Dermakey é uma
						clínica de estética avançada que oferece protocolos
						exclusivos para harmonização facial e corporal. A
						Clínica Dermakey é referência na técnica de
						otomodelação, procedimento que permite corrigir orelhas
						de abano sem cirurgia.
					</p>
				</div>

				<ul class="grid grid-cols-2">
					<li class="card">
						<div class="title-subtitle">
							<span class="">Title</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Phasellus id accumsan nisl.
								Nunc hendrerit ultrices erat non mollis. Proin
								sed metus et neque finibus volutpat et eget
								nibh. Donec pellentesque tincidunt pretium.
								Nullam molestie purus suscipit.
							</p>
						</div>
					</li>
					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Title</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Phasellus id accumsan nisl.
								Nunc hendrerit ultrices erat non mollis. Proin
								sed metus et neque finibus volutpat et eget
								nibh. Donec pellentesque tincidunt pretium.
								Nullam molestie purus suscipit.
							</p>
						</div>
					</li>

					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Title</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Phasellus id accumsan nisl.
								Nunc hendrerit ultrices erat non mollis. Proin
								sed metus et neque finibus volutpat et eget
								nibh. Donec pellentesque tincidunt pretium.
								Nullam molestie purus suscipit.
							</p>
						</div>
					</li>
					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Title</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Phasellus id accumsan nisl.
								Nunc hendrerit ultrices erat non mollis. Proin
								sed metus et neque finibus volutpat et eget
								nibh. Donec pellentesque tincidunt pretium.
								Nullam molestie purus suscipit.
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="grid-image">
				<Image src={heroImage} alt="Pessoa Sorrindo" />
			</div>
		</div>
	</section>

	<section id="treatments" class="bg-primary">
		<div class="container grid grid-cols-4">
			<div class="flex flex-col section-header">
				<div class="title-subtitle">
					<div>
						<span class="font-accent">Sobre</span>
						<h2 class="font-bold fs-600">Tratamentos</h2>
					</div>
					<p>
						Nosso grande diferencial no mercado é oferecer planos de
						tratamento personalizados com valores justos. Estes são
						alguns dos destaques.
					</p>
				</div>

				<div class="flex flex-col treatments-btns">
					<a href="" class="btn btn-featured">Avaliação Gratuita</a>
					<a href="" class="btn btn-light">Todos os Tratamentos</a>
				</div>
			</div>

			{
				featuredTreatments.map((treatment) => (
					<a
						class="card card-btn flex flex-col"
						href={`/tratamentos/${convertToSlug(treatment.data.category)}/${treatment.slug}`}
					>
						<Image
							src={treatment.data.image}
							alt="Pessoa Sorrindo"
						/>
						<div class="title-subtitle">
							<span class="font-bold">
								{treatment.data.title}
							</span>
							<p>{treatment.data.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</section>

	<section id="features" class="bg-contrast">
		<div class="container flex flex-col gap-8 text-center">
			<div class="title-subtitle">
				<div>
					<span class="font-light">Uma nova Experiência</span>
					<h2 class="font-bold fs-600">Cliente Odonto Prime</h2>
				</div>
				<p class="max-w-64 margin-x-auto font-light">
					Oferecemos uma nova experiência em estética avançada para
					região de Porto Alegre, buscando sempre o melhor resultado
					para atender as necessidades dos nossos clientes.
				</p>
			</div>

			<div class="grid grid-cols-3 gap-4">
				<div class="flex flex-col margin-x-auto">
					<Image src={sparkleIcon} alt="" class="margin-x-auto" />
					<div class="title-subtitle">
						<h3 class="font-bold">Melhor Atendimento</h3>
						<p class="max-w-32">
							Oferecemos a melhor experiência de atendimento de
							Porto Alegre
						</p>
					</div>
				</div>

				<div class="flex flex-col margin-x-auto">
					<Image src={sparkleIcon} alt="" class="margin-x-auto" />
					<div class="title-subtitle">
						<h3 class="font-bold">Melhor Atendimento</h3>
						<p class="max-w-32">
							Oferecemos a melhor experiência de atendimento de
							Porto Alegre
						</p>
					</div>
				</div>

				<div class="flex flex-col margin-x-auto">
					<Image src={sparkleIcon} alt="" class="margin-x-auto" />
					<div class="title-subtitle">
						<h3 class="font-bold">Melhor Atendimento</h3>
						<p class="max-w-32">
							Oferecemos a melhor experiência de atendimento de
							Porto Alegre
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
