---
import "../styles/pages/index.css";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

import heroImage from "../assets/images/hero.png";
import sparkleIcon from "../assets/icons/sparkle.svg";

import { getCollection } from "astro:content";
import { convertToSlug } from "../utils/treatments";
import Carousel from "../components/Carousel.astro";

import video1 from '../assets/videos/video1.mp4';
import video2 from '../assets/videos/video2.mp4';
import video3 from '../assets/videos/video3.mp4';

const treatmeants = await getCollection("treatments");
const featuredTreatments = treatmeants.filter(
	(treatment) => treatment.data.featured === true,
);

const members = await getCollection("members");
---

<BaseLayout>
	<section id="hero" class="bg-contrast">
		<div class="container grid grid-cols-2">
			<div
				class="hero-image"
				style=`background-image: url(${heroImage.src}); background-size:cover; background-repeat: no-repeat; background-position:center;`
			>
			</div>

			<div class="flex flex-col">
				<div class="title-subtitle">
					<h1 class="fs-700">
						Ajudamos a Recuperar a Confiança no seu Sorriso
					</h1>
					<p class="fs-500">
						A experiência de um plano de tratamento personalizado
						com valores acessíveis.
					</p>
				</div>
				<a href="https://wa.me/553598920987?text=Ol%C3%A1!%20Vim%20pelo%20site%20de%20voc%C3%AAs%20e%20queria%20conversar..." target="_blank" class="btn btn-light">Fale Conosco</a>
			</div>
		</div>
	</section>

	<section id="clinic" class="bg-primary">
		<div class="container grid grid-cols-2">
			<div class="flex flex-col">
				<div class="title-subtitle">
					<div>
						<span class="font-accent">Sobre</span>
						<h2 class="font-bold fs-600">Clínica Odonto Prime</h2>
					</div>
					<p>
						Localizada na cidade de Pouso Alegre a Odonto Prime
						Clinic é uma clínica odontológica especializada em
						implantes, próteses e diversos procedimentos
						odontológicos.
					</p>
				</div>

				<ul class="grid grid-cols-2">
					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Atendimento Humanizado</span
							>
							<p class="font-light">
								A Odonto Prime prioriza o conforto dos pacientes
								com um atendimento acolhedor e personalizado.
							</p>
						</div>
					</li>
					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold"
								>Profissionais Qualificados</span
							>
							<p>
								Contamos com profissionais experientes e
								atualizados, garantindo tratamentos eficazes.
							</p>
						</div>
					</li>

					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Tecnologia Avançada</span>
							<p>
								Usamos tecnologia de ponta para oferecer
								tratamentos rápidos e confortáveis.
							</p>
						</div>
					</li>
					<li class="card">
						<div class="title-subtitle">
							<span class="font-bold">Para todas as Idades</span>
							<p>
								Atendemos todas as idades, adaptando os cuidados
								para crianças, adultos e idosos.
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="grid-image" style="z-index: 1">
				<Carousel />
			</div>
		</div>
	</section>

	<section id="treatments" class="bg-primary">
		<div class="container grid grid-cols-4">
			<div class="flex flex-col section-header">
				<div class="title-subtitle">
					<div>
						<span class="font-accent">Sobre</span>
						<h2 class="font-bold fs-600">Tratamentos</h2>
					</div>
					<p>
						Nosso grande diferencial no mercado é oferecer planos de
						tratamento personalizados com valores justos. Estes são
						alguns dos destaques.
					</p>
				</div>

				<div class="flex flex-col treatments-btns">
					<a href="https://wa.me/553598920987?text=Ol%C3%A1!%20Vim%20pelo%20site%20de%20voc%C3%AAs%20e%20queria%20conversar..." target="_blank" class="btn btn-featured">Avaliação Gratuita</a>
					<a href="https://wa.me/553598920987?text=Ol%C3%A1!%20Vim%20pelo%20site%20de%20voc%C3%AAs%20e%20queria%20conversar..." target="_blank" class="btn btn-light">Todos os Tratamentos</a>
				</div>
			</div>

			{
				featuredTreatments.map((treatment) => (
					<a
						class="card card-btn flex flex-col"
						href={`/tratamentos/${convertToSlug(treatment.data.category)}/${treatment.slug}`}
					>
						<Image
							src={treatment.data.image}
							alt="Pessoa Sorrindo"
						/>
						<div class="title-subtitle">
							<span class="font-bold">
								{treatment.data.title}
							</span>
							<p>{treatment.data.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</section>

	<section id="features" class="bg-contrast">
		<div class="container flex flex-col gap-8 text-center">
			<div class="title-subtitle">
				<div>
					<span class="font-light">Uma nova Experiência</span>
					<h2 class="font-bold fs-600">Cliente Odonto Prime</h2>
				</div>
				<p class="max-w-64 margin-x-auto font-light">
					Oferecemos uma nova experiência em estética avançada para
					região de Pouso Alegre, buscando sempre o melhor resultado
					para atender as necessidades dos nossos clientes.
				</p>
			</div>

			<div class="grid grid-cols-3 gap-4 videos">
				<video class="flex" src={video1} controls></video>
				<video src={video2} controls></video>
				<video src={video3} controls></video>
			</div>
		</div>
	</section>

	<section id="team" class="bg-primary">
		<div class="container flex flex-col gap-8">
			<div class="title-subtitle">
				<div>
					<span class="font-accent">Sobre</span>
					<h2 class="font-bold fs-600">A Equipe</h2>
				</div>
			</div>

			<div class="grid grid-cols-4">
				{
					members.sort((member1, member2) => member1.data.order - member2.data.order ).map((member) => (
						<div class="card flex flex-col">
							<Image
								src={member.data.image}
								alt="Pessoa Sorrindo"
							/>
							<div>
								<span class="font-bold">
									{member.data.name}
								</span>
								<div class="flex">
									{member.data.tags.map((tag) => (
										<span class="member-tag">{tag}</span>
									))}
								</div>
							</div>

							{/* <p>{member.data.description}</p> */}

							{/* 
							<div>
								<span class="font-bold">
									Especialidades
								</span>
								<div class="flex">
									{member.data.specialties.map(specialty => (
										<span class="member-tag">{specialty}</span>
									))}
								</div>
							</div>

							<div class="flex space-between">
								<span class="font-bold uppercase">CRO {member.data.cro}</span>
							</div>
*/}
						</div>
					))
				}
			</div>
		</div>
	</section>
</BaseLayout>
