---
import TreatmentsLayout from "../../../layouts/TreatmentsLayout.astro";
import { Image } from "astro:assets";
import { getCategories } from "../../../utils/treatments";

export async function getStaticPaths() {
    const categories = await getCategories();
    return Object.keys(categories).map((category) => ({
        params: { category },
    }));
}

const { category } = Astro.params;
const categories = await getCategories(category);

const headerTitle = categories[category].title;
const headerDescription = categories[category].description;
---

<TreatmentsLayout
    title="Tratamentos - OdontoPrimeClinic"
    headerTitle={headerTitle}
    headerDescription={headerDescription}
>
    {
        Object.keys(categories).map((category) => {
            return (
                <section>
                    <h2>{categories[category].title}</h2>
                    <div class="grid grid-cols-4 treatment-grid">
                        {categories[category].treatments.map((treatment) => (
                            <a
                                class="card card-btn flex flex-col"
                                href={`/tratamentos/${category}/${treatment.slug}`}
                            >
                                <Image
                                    src={treatment.image}
                                    alt="Pessoa Sorrindo"
                                />
                                <div class="title-subtitle">
                                    <span class="font-bold">
                                        {treatment.title}
                                    </span>
                                    <p>{treatment.description}</p>
                                </div>
                            </a>
                        ))}
                    </div>
                </section>
            );
        })
    }
</TreatmentsLayout>
